<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotiTracker">

        <!-- 1. Activity phụ (Thêm exported=false nếu build lỗi trên Android 12+) -->
        <activity
            android:name=".MyNewActivity"
            android:exported="false" />

        <!-- 2. Main Activity (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NotiTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 3. Notification Listener Service -->
        <service
            android:name=".service.MyNotificationListener"
            android:label="Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>